<div class="container" style="margin-left: auto; margin-right: auto;margin-top: 30px">
  




    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="usernameInput">Username</label>
                <input  type="text" class="form-control" id="usernameInput" aria-describedby="usernameHelp" placeholder="Enter username" [(ngModel)]="username"/>
                <small id="usernameHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input  type="text" class="form-control"  placeholder="Password" [(ngModel)]="passwordInput" id="exampleInputPassword1"/>
            </div>
            <div class="form-group form-check">
                <input  [(ngModel)]="remember" type="checkbox" class="form-check-input" id="exampleCheck1"/>
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary" (click)="doLogin()">Login</button>
          </div>
          <div class="col-sm-6">
               <div class="alert alert-danger" role="alert" *ngIf="erroLogin">
                  A simple primary alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
               </div>
          </div> 
        </div>




    </div>      





