
<div class="container" style="margin-top: 10px">


  <div class="row">
    <div class="col-sm-4">
        <div class="list-group" *ngFor="let c of listCustomers">
          <a class="list-group-item list-group-item-action active" routerLink="{{c.id}}" >{{c.name}}</a>
        </div>
    </div>
    <div class="col-sm-8">
        <router-outlet></router-outlet>
    </div>

  </div>




</div>

