<div class="container-fluid" *ngIf="customer_"> 

   
    <div class="form-group">
      <label for="name">Nome</label>
      <input type="text" class="form-control" id="name" placeholder="Enter name" [(ngModel)]="customer_.name">
    </div>

    <div class="form-group">
      <label for="age">Age</label>
      <input type="text" class="form-control" id="age"  placeholder="Enter Age" [(ngModel)]="customer_.age">
    </div>

    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="active"  [(ngModel)]="customer_.active">
      <label class="form-check-label" for="Active:">&nbsp; Active:</label>
    </div>

    <div class="form-group">

        <button type="button" class="btn btn-primary md-1" style="margin-right:5px"(click)="save()">Save</button>
        <button type="button" class="btn btn-secondary md-1" style="margin-right:5px" (click)="reset()" >Reset</button>
        <button type="button" class="btn btn-danger md-9"  (click)="delete()">Delete</button>
             
    </div>
</div>

